 .tab>td{
padding: 0.75em;
}
.tab>th{
    padding: 0.75em;
}
.tabs{
    padding: 15px;
}

/* .cla>tr>td{
    padding: 0%;
    }
.cla>tr>th{
        padding: 0%;
    } */

.back{
    background-color: blueviolet;
    margin:2em ;
}
.wi{
    text-align: center;
    width: 0.5em;
}
.center{
    text-align: center;
}
.color{
color: white;
}
.hcol{
    color: blueviolet;
    text-decoration: underline;
    font-size: 20pt;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.al{
    margin-bottom: 5%;
    margin-top: 2%;
}
.no{
    padding: 0em;

}
.f{
    font-size: 14pt;
    font-family: serif;
}
.ty{
    font-size: 24pt;
    color: green;
    font-weight: bold;
}
.sb{
    font-size: 20pt;
    color: green;

}
.gb{
   font-size: 24pt;
   color: indigo;
    font-weight: bold;
}